@import "variables";

.notification button {
  background-color: $secondary-color !important;
  max-width: 150px;
  position: absolute;
}
.notification .select {
  max-width: 350px;
}
.notification h4 {
  margin: 0;
  padding-bottom: 10px;
}