/* todo: use Sass to lighten non-active links by 70% per material spec */
.navigation {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 24px;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    background-color: rgb(64,196,255);
}
.navigation li {
    display: inline;
    padding: 15px;
    color: #f0f0f0;
    text-decoration: none;
    transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
.navigation li.header {
    color: #fbfbfb;
}
.navigation li:focus {
    outline: 0;
}
.navigation li.active {
    color: #ffffff;
    font-weight: bold;
    border-bottom: rgba(30,136,229,1) 2px solid;
    padding-bottom: 13px;
}
.md-ripple-container {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .55s cubic-bezier(.25, .8, .25, 1);
    color: rgb(179,229,252);
}

.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(0, 0, 0, 0);
    /* IE z-index :) */
    display: none;
}

.alert-fixed {
    position: fixed;
    top: 5%;
    width: 50%;
    left: 23%;
    z-index: 2000;
}